{% extends 'base.jinja2' %}


{% block title %}Students{% endblock %}

{% block breadcrumbs %}
    <div class="col s12">
        <a href="/" class="breadcrumb">SQLI</a>
        <a href="/students/" class="breadcrumb">Students</a>
    </div>
{% endblock %}

{% block content %}
    <div class="collection">
        {% for (id, name) in students %}
            <a class="collection-item" href="/students/{{ id }}">{{ name }}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block aside %}
    {% if auth_user %}
        <div class="row">
            <form class="col s12" method="POST">
                <div class="card">
                    {% if errors %}
                        <div class="row">
                            <div class="toast" style="top: 0;">
                                {% for error in errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <span class="card-title">Add new student</span>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">Full name</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn pink waves-effect waves-light" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
